{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Basic -->

<body id="inner_page" data-spy="scroll" data-target="#navbar-wd" data-offset="98">

	<!-- section -->
	
	<section class="inner_banner">
	  <div class="container">
	      <div class="row">
		      <div class="col-12">
			     <div class="full">
				     <h3>About us</h3>
				 </div>
			  </div>
		  </div>
	  </div>
	</section>
	
	<!-- end section -->
   
	<!-- section -->
    <div class="section margin-top_50">
        <div class="container">
            <div class="row">
                <div class="col-md-6 layout_padding_2">
                    <div class="full">
                        <div class="heading_main text_align_left">
						   <h2><span>Welcome To</span> Exam Portal</h2>
                        </div>
						<div class="full">
						  <p>Your gateway to conquering exams with confidence and flair.Our future lies within us thus we should strive to get hands on.View all Courses,
                              Course Information & Application Procedure Click here to Start Registration and booking Now</p>
						</div>
						<div class="full">
						   <a class="hvr-radial-out button-theme" href="#">About more</a>
						</div>
                    </div>
                </div>
				<div class="col-md-6">
                    <div class="full">
                        <img src="{% static 'assets/images/img2.png' %}" alt="#" />
                    </div>
                </div>
            </div>
        </div>
    </div>
	<!-- end section -->
	<!-- section -->
    <div class="section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="full">
                        <div class="heading_main text_align_center">
						   <h2><span>Popular </span>Courses</h2>
                        </div>
					  </div>
                </div>
				<div class="col-md-4">
                    <div class="full blog_img_popular">
                       <img class="img-responsive" src="{% static 'assets/images/image1.jpg' %}" alt="#" />
					   <h4>Financial Accounting</h4>
                    </div>
                </div>
				<div class="col-md-4">
                    <div class="full blog_img_popular">
                        <img class="img-responsive" src="{% static 'assets/images/graduants.jpg' %}" alt="#" />
						<h4>Managerial Accounting</h4>
                    </div>
                </div>
				<div class="col-md-4">
                    <div class="full blog_img_popular">
                        <img class="img-responsive" src="{% static 'assets/images/image.jpg' %}" alt="#" />
						<h4>Intermediate Accounting</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<!-- end section -->
    <!-- Start Footer -->

    <!-- End Footer -->


{% endblock %}


