{% extends 'base.html' %}

{% block content %}
<div class="container mt-5 pt-5 mb-5">
<h2>Exams</h2>
<table class="table table-stripped">
    <tr>
        <th>Title</th>
        <th>Date</th>
        <th>Duration</th>
        <th>Actions</th>
    </tr>
    {% for exam in exams %}
    <tr>
        <td>{{ exam.title }}</td>
        <td>{{ exam.date }}</td>
        <td>{{ exam.duration }} minutes</td>
        <td>
            <a class="btn btn-primary" href="{% url 'exam_update' exam.id %}">Edit</a>
            <a class="btn btn-danger" href="{% url 'exam_delete' exam.id %}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
<div class="full my-5 pb-5">
  <a class="hvr-radial-out button-theme" href="{% url 'student_register'%}">Apply</a>
</div>
</div>
{% endblock %}
