{% extends 'base.html' %}

{% block content %}
<h2>Exams</h2>
<table border="1">
    <tr>
        <th>Title</th>
        <th>Date</th>
        <th>Duration</th>
        <th>Actions</th>
    </tr>
    {% for exam in exams %}
    <tr>
        <td>{{ exam.title }}</td>
        <td>{{ exam.date }}</td>
        <td>{{ exam.duration }} minutes</td>
        <td>
            <a href="{% url 'exam_update' exam.id %}">Edit</a> |
            <a href="{% url 'exam_delete' exam.id %}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
<div class="full">
  <a class="hvr-radial-out button-theme" href="{% url 'student_register'%}">Apply</a>
</div>
{% endblock %}
