{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Basic -->
    <!-- Start Banner -->

    <!-- End Banner -->
    <!-- section -->
	<div class="section tabbar_menu mt-5 pt-5">
	   <div class="container">
	      <div class="row">
		      <div class="col-md-12">
			     <div class="tab_menu">
				    <ul>
					   <li><a href="#"><span class="icon"><img src="{% static 'assets/images/i1.png' %}" alt="#" /></span><span>University Life</span></a></li>
					   <li><a href="#"><span class="icon"><img src="{% static 'assets/images/i2.png' %}" alt="#" /></span><span>Graduation</span></a></li>
					   <li><a href="#"><span class="icon"><img src="{% static 'assets/images/i3.png' %}" alt="#" /></span><span>Athletics</span></a></li>
					   <li><a href="#"><span class="icon"><img src="{% static 'assets/images/i4.png' %}" alt="#" /></span><span>Social</span></a></li>
					   <li><a href="#"><span class="icon"><img src="{% static 'assets/images/i5.png' %}" alt="#" /></span><span>Location</span></a></li>
					   <li><a href="#"><span class="icon"><img src="{% static 'assets/images/i6.png' %}" alt="#" /></span><span>Call us</span></a></li>
					   <li><a href="#"><span class="icon"><img src="{% static 'assets/images/i7.png' %}" alt="#" /></span><span>Email</span></a></li>
					</ul>
				 </div>
			  </div>
		  </div>
	   </div>
	</div>
	<!-- end section -->
	<!-- section -->
    <div class="section margin-top_50">
        <div class="container">
            <div class="row">
                <div class="col-md-6 layout_padding_2">
                    <div class="full">
                        <div class="heading_main text_align_left">
						   <h2><span>Welcome To</span> Exam Portal</h2>
                        </div>
						<div class="full">
						  <p>Your gateway to conquering exams with confidence and flair.Our future lies within us thus we should strive to get hands on.View all Courses,
                              Course Information & Application Procedure Click here to Start Registration and booking Now</p>
						</div>
						<div class="full">
						   <a class="hvr-radial-out button-theme" href="#">Read more</a>
						</div>
                    </div>
                </div>
				<div class="col-md-6">
                    <div class="full">
                        <img src="{% static 'assets/images/img2.png' %}" alt="#" />
                    </div>
                </div>
            </div>
        </div>
    </div>
	<!-- end section -->
	<!-- section -->
    <div class="section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="full">
                        <div class="heading_main text_align_center">
						   <h2><span>Popular </span>Courses</h2>
                        </div>
					  </div>
                </div>
				<div class="col-md-4">
                    <div class="full blog_img_popular">
                       <img class="img-responsive" src="{% static 'assets/images/image1.jpg' %}" alt="#" />
					   <h4>Financial Accounting</h4>
                    </div>
                </div>
				<div class="col-md-4">
                    <div class="full blog_img_popular">
                        <img class="img-responsive" src="{% static 'assets/images/graduants.jpg' %}" alt="#" />
						<h4>Managerial Accounting</h4>
                    </div>
                </div>
				<div class="col-md-4">
                    <div class="full blog_img_popular">
                        <img class="img-responsive" src="{% static 'assets/images/image.jpg' %}" alt="#" />
						<h4>Intermediate Accounting</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<!-- end section -->
	<!-- section -->
    <div class="section margin-top_50 silver_bg">
        <div class="container">
            <div class="row">
			    <div class="col-md-6">
                    <div class="full float-right_img">
                        <img src="{% static 'assets/images/img6.png' %}" alt="#" />
                    </div>
                </div>
                <div class="col-md-6 layout_padding_2">
                    <div class="full">
                        <div class="heading_main text_align_left">
                            <h2><span>Apply for Admission</span></h2>
                        </div>
						<div class="full">
						  <p> Admissions process, and vibrant campus life at Murang'a University of Technology. Apply Postgraduate, Undergraduate.The University offering Education and Training for the Real World.

                            This portal is for newly admitted and continuing students. Here you will find the information and resources you need to help you get ready to start your studies in the University.
                              This is where you will also obtain your Admission Letter.</p>
						</div>
						<div class="full">
						   <a class="hvr-radial-out button-theme" href="{% url 'exam_list'%}">See available exams</a>
						</div>
                    </div>
                </div>
			</div>
        </div>
    </div>
	<!-- end section -->
	<!-- section -->
    <div class="section layout_padding padding_bottom-0">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="full">
                        <div class="heading_main text_align_left">
						   <h2><span>Research</span></h2>
                        </div>
						<div class="full">
						  <p>Web based online exam portal is to efficiently evaluate the student thoroughly through a fully automated system that not only saves lot of time but also gives fast and accurate results. For students they give papers according to their convenience from any location by using internet and time and there is no need of using extra thing like paper, pen etc. Online exam portal helps students to offer a quick and easy way
                              to appear for the test.There are no limitations on number of options and it can be randomized so same set of question will not appear to all student so it prevent manipulation. More than one option can be correct but the user can select only one option.</p>
						</div>
						<div class="full">
						   <a class="hvr-radial-out button-theme" href="#">See More</a>
						</div>
                    </div>
                </div>
				<div class="col-md-6">
                    <div class="full">
                        <img class="img-responsive" src="{% static 'assets/images/img7.png' %}" alt="#" />
                    </div>
                </div>
            </div>
        </div>
    </div>
	<!-- end section -->
	<!-- section -->
    <div class="section layout_padding padding_bottom-0">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="full">
                        <div class="heading_main text_align_center">
						   <h2><span>News</span></h2>
                        </div>
					  </div>
                </div>
			  </div>
               <div class="row">
                <div class="col-lg-12">
                    <div id="demo" class="carousel slide" data-ride="carousel">

                        <!-- The slideshow -->
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-12">
									   <div class="full blog_img_popular">
                                          <img class="img-responsive" src="{% static 'assets/images/img9.png' %}" alt="#" />
										  <h4>Technology</h4>
										  <p>“Online Exam Portal” is an on-line test simulator is to take online examination, test in an efficient manner and no time wasting for manually checking.
                                              A complete test portal using the traditional technologies for front-end as well as backend like HTML, CSS, PHP/MySQL , JavaScript. </p>
										</div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <div class="full blog_img_popular">
                                          <img class="img-responsive" src="{% static 'assets/images/library.jpg' %}" alt="#" />
										  <h4>Education</h4>
										  <p>Transformation from the traditional assessment process by offering numerous advantages for both educators and students.
                                           Beneficial for distance learners, working professionals, and international students.Institutions can also reduce administrative work related to organizing and distributing tests.</p>
										</div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-12">
									   <div class="full blog_img_popular">
                                          <img class="img-responsive" src="{% static 'assets/images/img9.png' %}" alt="#" />
										  <h4>Technology</h4>
										  <p>Online Exam Portal” is an on-line test simulator is to take online examination, test in an efficient manner and no time wasting for manually checking.
                                              A complete test portal using the traditional technologies for front-end as well as backend like HTML, CSS, PHP/MySQL , JavaScript.</p>
										</div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <div class="full blog_img_popular">
                                          <img class="img-responsive" src="{% static 'assets/images/library.jpg' %}" alt="#" />
										  <h4>Education</h4>
										  <p>Transformation from the traditional assessment process by offering numerous advantages for both educators and students.
                                           Beneficial for distance learners, working professionals, and international students.Institutions can also reduce administrative work related to organizing and distributing tests.</p>
										</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Left and right controls -->
                        <a class="carousel-control-prev" href="#demo" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#demo" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </a>

                    </div>
                </div>

            </div>			  
           </div>
        </div>
	<!-- end section -->
	<!-- section -->
    <div class="section layout_padding padding_bottom-0">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="full">
                        <div class="heading_main text_align_center">
						   <h2><span>Contact</span></h2>
                        </div>
					  </div>
                </div>
			  </div>
           </div>
        </div>
	<!-- end section -->
	<!-- section -->
    <div class="section contact_section" style="background:#12385b;">
        <div class="container">
               <div class="row">
                 <div class="col-lg-6 col-md-6 col-sm-12">
				    <div class="full float-right_img">
                        <img src="{% static 'assets/images/male.jpg' %}" alt="#">
                    </div>
                 </div>
				 <div class="layout_padding col-lg-6 col-md-6 col-sm-12">
				    <div class="contact_form">
					    <form action="{% url 'my_contact' %}">
						   <fieldset>
						       <div class="full field">
							      <input type="text" placeholder="Your Name" name="your name" />
							   </div>
							   <div class="full field">
							      <input type="email" placeholder="Email Address" name="Email" />
							   </div>
							   <div class="full field">
							      <input type="phn" placeholder="Phone Number" name="Phone number" />
							   </div>
							   <div class="full field">
							      <textarea placeholder="Massage"></textarea>
							   </div>
							   <div class="full field">
							      <div class="center"><button>Send</button></div>
							   </div>
						   </fieldset>
						</form>
					</div>
                 </div>
               </div>			  
           </div>
        </div>
	<!-- end section -->


{% endblock %}
